.add-category-input {
  display: flex;
}

.add-category-input ion-input {
  --background: var(--ion-color-secondary);
  --padding-start: 16px;
}

.add-category-input ion-button {
  /* --background: var(--ion-color-warning); */
  --border-radius: 0;
  margin: 0;
  padding: 0;
}
