.custom-skeleton ion-skeleton-text {
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 0;
}

.skeleton-verse-title {
  margin-bottom: 0.5rem;
  width: 35%;
}
