ion-segment {
  margin: 0;
  border-radius: 0;
}

ion-segment-button {
  --border-radius: 0;
  --background: var(--ion-color-light);
  --indicator-color: var(--ion-color-warning);
  --margin-top: 6px;
  --margin-bottom: 6px;
}
